<!DOCTYPE html>
<html>
<head>
    <title>Web lab first</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/WebLab1.css" />
    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/WebLab1.js")
</head>
<body class="container">
    <h1>Applying for .NET developer position</h1>
    <div class="form-wrap" align="center">
        @RenderBody()
    </div>
</body>
</html>