@model WebLabFirst.Models.FeedBackModel
<div class="feed-back">
    <p>Your Email: @Model.Email</p>
    <p>Your Role: @Model.Role</p>
    <p>Your Method: @Model.Method</p>
    <p>Your CV Name: @Model.CV</p>
</div>
