

<form class="input-form" id="form" method="post" action="/Home/FeedBackPost">
    <div class="input-section ">
        <div class="login-input">
            <label for="email" class="login-label">Enter your email: </label>
            <input type="email" id="email" name="Email" />
        </div>
        <div class="login-input">
            <label for="password" class="login-label">Enter your rassword: </label>
            <input type="password" id="password" name="password" />
        </div>
    </div>
    <div class="input-section ">
        <label for="sendingMethod">Choose Method, you wish to enter your data: </label>
        <select id="sendingMethod" name="Method">
            <option>Get</option>
            <option selected>Post</option>
        </select>
    </div>
    <div class="input-section">
        <label for="skill">Choose your skill: </label>
        <select id="skill" name="Role">
            <option selected>Junior</option>
            <option>Intermediate</option>
            <option>Senior</option>
        </select>
    </div>
    <div class="input-section">
        <label for="cv">Choose your CV: </label>
        <input type="file" name="cv" id="CV" />
    </div>
    <div class="input-section">
        <center><input id="send" type="submit" value="Send" /> </center>
    </div>
</form>
<script>
    
</script>
