

<button onclick="openMessage();">
    Open message
</button>
<script>
    alert("Hello user :) Your url - " + window.location.href);
    function openMessage() {
        alert("You clicked button");
    }
</script>

