
<div class="piece-of">
    @{
        for (int i = 0; i < 8; i++)
        {
            <img alt="Some image" class="some-image" />
        }
    }
    <button id="add-imgs" onclick="multiply();">Add images</button>
    <button onclick="changePhotos();">Change photos with time</button>    
</div>
<button id="show" >Show images</button>
<button id="hide" >Hide images</button>
