<div id="hello-world" class="input-form">
</div>
<button id="add-hello-world">Write "Hello world"</button>
<button id="add-red">Make "Hello world" red</button>
<button id="reverse-text">Reverse text</button>
@Scripts.Render("~/Scripts/reverseText.js")

