body {
    background-image: url("../Content/backgroundimg.jpg");
    text-align: center;
    margin: auto;
    align-content: center;
}

.input-form , .feed-back{
    background-color: aliceblue;
    padding: 20px;
}

.input-section {
    text-align:left;
    padding: 10px;
}

.login-label {
    padding-right: 5px;
}

#send {
    background-color: #99b3ff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.login-input {
    padding:8px 0 8px 0;
}
@media (min-width: 992px) {
    .form-wrap {
        align-content: center;
        left: 30%;
        right: 30%;
        position: absolute;
    }
}
